#nx-middle
  .nx-main-menu
    #js-mainnav.wrap.clearfix
      #js-meganav.js-megamenu.clearfix
        %ul.megamenu.level0
          %li.mega.first.active
            %a#menu101.mega.first.active{:href => "/"}
              %span.menu-title Home
          %li.mega.haschild
            %a#menu127.mega.haschild{:href => articles_path}
              %span.menu-title Article
          %li.mega
            %a#menu128.mega{:href => "/"}
              %span.menu-title Shop online
          %li.mega.haschild
            %a#menu129.mega.haschild{:href => "/"}
              %span.menu-title Products
          %li.mega
            %a#menu130.mega{:href => "/"}
              %span.menu-title Recipe Corner
          %li.mega.last
            %a#menu131.mega.last{:href => "/"}
              %span.menu-title Contact Us
  - if params[:controller] == 'page'
    = render 'layouts/shared/slideshow'
  - else
    = render 'layouts/shared/sub_banner'
