#nx-left-sidebar
  .nx-menu-left
    %ul.menu
      %li.item-136
        %a{:href => "/vmdemo/bakerymart/index.php/breads"} Breads
      %li.item-137
        %a{:href => "/vmdemo/bakerymart/index.php/viennoiserie"} Viennoiserie
      %li.item-138
        %a{:href => "/vmdemo/bakerymart/index.php/pastries"} Pastries
      %li.item-139
        %a{:href => "/vmdemo/bakerymart/index.php/muffins"} Muffins
      %li.item-140
        %a{:href => "/vmdemo/bakerymart/index.php/tarts"} Tarts
      %li.item-141
        %a{:href => "/vmdemo/bakerymart/index.php/cookies"} Cookies
      %li.item-142
        %a{:href => "/vmdemo/bakerymart/index.php/chocolates"} Chocolates
      %li.item-143
        %a{:href => "/vmdemo/bakerymart/index.php/soups-and-salads"} Soups and Salads
      %li.item-144
        %a{:href => "/vmdemo/bakerymart/index.php/sandwiches"} Sandwiches
      %li.item-145
        %a{:href => "/vmdemo/bakerymart/index.php/quiche"} Quiche
    .bannergroup
      .banneritem
        %img{:alt => "Banner Left", :src => "http://truemart.net/vmdemo/bakerymart/images/banners/banner-left.jpg"}/
        .clr
    #all_manu_s
      #khung_mn_s
        #bgm_s
        #bth_s
          %span.icon_bt_s
          %span.thm_12_b_black_s vm manufacturers
        #btb_s
      #pop_up_s
        #manu_vm_all_s
          #manufacturer_vm_s
            .vmgroup22{:style => "width:210px; margin: 0 auto; border: 0px solid red;"}
              %input#width_div_module{:type => "hidden", :value => "200"}/
              %input#width_div_module2{:type => "hidden", :value => "210"}/
              %input#width_div_scroll{:type => "hidden", :value => "200"}/
              .vmmanufacturer_s
                %center
                  .jcarousel-skin-tango
                    .jcarousel-container.jcarousel-container-vertical{:style => "position: relative; display: block;"}
                      .jcarousel-clip.jcarousel-clip-vertical{:style => "position: relative;"}
                        %ul#mycarousel.jcarousel.jcarousel-list.jcarousel-list-vertical{:style => "overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; height: 1132px;"}
                          %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-1.jcarousel-item-1-vertical{:jcarouselindex => "1", :style => "display: inline; float: none !important; list-style: none;"}
                            %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/alice-rose"}
                              %img{:alt => "logo-alice-rose", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/logo-alice-rose_200x150.jpg"}/
                              %div{:style => "text-align:center !important; width: 180px"}
                          %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-2.jcarousel-item-2-vertical{:jcarouselindex => "2", :style => "display: inline; float: none !important; list-style: none;"}
                            %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/branding-sparks-cakes"}
                              %img{:alt => "branding_sparks_cakes_logo", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/branding_sparks_cakes_logo_200x150.jpg"}/
                              %div{:style => "text-align:center !important; width: 180px"}
                          %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-3.jcarousel-item-3-vertical{:jcarouselindex => "3", :style => "display: inline; float: none !important; list-style: none;"}
                            %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/candy-cake"}
                              %img{:alt => "logo-candy", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/logo-candy_200x150.gif"}/
                              %div{:style => "text-align:center !important; width: 180px"}
                          %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-4.jcarousel-item-4-vertical{:jcarouselindex => "4", :style => "display: inline; float: none !important; list-style: none;"}
                            %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/ludger-cake"}
                              %img{:alt => "logo-ludger", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/logo-ludger_200x150.jpg"}/
                              %div{:style => "text-align:center !important; width: 180px"}
                          %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-5.jcarousel-item-5-vertical{:jcarouselindex => "5", :style => "display: inline; float: none !important; list-style: none;"}
                            %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/tortuga-rum-florida"}
                              %img{:alt => "tortuga-rum-cake-florida-coconut", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/tortuga-rum-cake-florida-coconut_200x150.jpg"}/
                              %div{:style => "text-align:center !important; width: 180px"}
                          %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-6.jcarousel-item-6-vertical{:jcarouselindex => "6", :style => "display: inline; float: none !important; list-style: none;"}
                            %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/wilton-cake"}
                              %img{:alt => "logo-wilton", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/logo-wilton_200x150.jpg"}/
                              %div{:style => "text-align:center !important; width: 180px"}
                      .jcarousel-prev.jcarousel-prev-vertical{:style => "display: block; left: -12px;"}
                      .jcarousel-next.jcarousel-next-vertical{:style => "display: block; left: -12px;"}
          / end #manufacturer_vm
        / end #manu_vm_all
      / end #pop up
    / end #all_manu
    :javascript
      jQuery(document).ready(function() {
          jQuery('#mycarousel').jcarousel({
              vertical: true,
              scroll: 2,
              //size:4,
              //visible:4,
              //auto:6,
              wrap: 'circular'
          });
      });
    :javascript
      jQuery(document).ready(function() {
          var moduletable = jQuery('.moduletable').width();
          var width_div_scroll =jQuery('#width_div_scroll').val();
          var width_div_module = jQuery('#width_div_module').val();
          var btb = jQuery('#btb_s').width();
          var bgm = jQuery('#bgm_s').width();
          var bth = jQuery('#bth_s').width();
          var tg = btb + bgm + bth;
          var tg2 = tg/2-16 +'px';   
          jQuery('.jcarousel-skin-tango .jcarousel-next-vertical,.jcarousel-skin-tango .jcarousel-prev-vertical').css('left',tg2);
         
          if((tg < moduletable) && (width_div_module < moduletable)) {
              bth = moduletable - btb - bgm - 3;
              jQuery('.jcarousel-container').width(tg);                 
          }
      });
    :css
      #manu_vm_all_s {
              display:inline-block;
          }
          #manu_vm_all_s img#img_icon_vm_s {
              position:absolute;
              top:0px;
          }
          #manufacturer_vm_s {
              margin: 0 auto;
              padding: 1px;
              width: auto;
              display:inline-block;
              top:0px;
              left:32px;
              display: block;
              background: none repeat scroll 0 0 #FFF;
          }
          #manufacturer_vm_s img {
              width: 200px;
              height: 150px;
              border: 1px solid #999;
              display: block;
          }
          #manufacturer_vm_s a {
              text-decoration: none;
          }
          .thm-12-b_s {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
          widows: inherit;
          overflow: hidden;
          vertical-align: top !important;
          padding-left: 190px;
          position:absolute;
          padding:4px 0px 2px 212px;
          text-align:left; width:60%;
      }
      .thm-12-b_s-2 {
          font-weight: bold;
          text-align: center;
          padding-bottom: 60px;
      }
.clear-fix