.nx-banner
  .nx-banner-top
    .nx-slider
      #camera_wrap_103.slideshowck.camera_wrap.camera_amber_skin{:style => "width: 730px; display: block; height: 360px; margin-bottom: 93px;"}
        .camera_fakehover
          .camera_target
            .cameraCont
              .cameraSlide.cameraSlide_2.cameracurrent{:style => "display: block; z-index: 999; margin-left: 0px; margin-top: 0px;"}
                %img.imgLoaded{"data-alignment" => "", "data-portrait" => "", :height => "356", :src => "http://truemart.net/vmdemo/bakerymart/images/sampledata/slider/1_03.jpg?1412912232070", :style => "visibility: visible; height: 360px; margin-left: -3.08988764044943px; margin-right: -3.08988764044943px; margin-top: 0px; position: absolute; width: 736.179775280899px;", :width => "728"}
                .camerarelative{:style => "width: 730px; height: 360px;"}
          .camera_overlayer
          .camera_target_content
            .cameraContents
              .cameraContent{:style => "display: none;"}
                %a.camera_link{:href => "index.php/breads", :target => "_parent"}
              .cameraContent{:style => "display: none;"}
                %a.camera_link{:href => "index.php/pastries", :target => "_parent"}
              .cameraContent.cameracurrent{:style => "display: none;"}
                %a.camera_link{:href => "index.php/chocolates", :target => "_parent"}
              .cameraContent{:style => "display: none;"}
                %a.camera_link{:href => "index.php/viennoiserie", :target => "_parent"}
          .camera_bar{:style => "top: auto; height: 7px;"}
            %span.camera_bar_cont{:style => "opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);"}
              %span#pie_1{:style => "opacity: 0; position: absolute; left: 0px; right: 730px; top: 2px; bottom: 2px; display: block; background-color: rgb(238, 238, 238);"}
          .camera_commands{:style => "opacity: 0;"}
            .camera_play{:style => "display: none;"}
            .camera_stop{:style => "display: block;"}
          .camera_prev{:style => "opacity: 0;"}
            %span
          .camera_next{:style => "opacity: 0;"}
            %span
        %div
          .camera_thumbs
            %div
              .camera_command_wrap
                .camera_prevThumbs.hideNav
                  %div
                .camera_nextThumbs.hideNav
                  %div
                .camera_thumbs_cont{:style => "visibility: visible;"}
                  %div
                    %ul{:style => "width: 440px; margin-left: auto; margin-right: auto; margin-top: 0px;"}
                      %li.pix_thumb.pix_thumb_0.camera_visThumb
                        %img.camera_thumb{:src => "http://truemart.net/vmdemo/bakerymart/images/sampledata/slider/3_03_th.jpg", :style => "opacity: 0.5;"}/
                      %li.pix_thumb.pix_thumb_1.camera_visThumb
                        %img.camera_thumb{:src => "http://truemart.net/vmdemo/bakerymart/images/sampledata/slider/4_03_th.jpg", :style => "opacity: 0.5;"}/
                      %li.pix_thumb.pix_thumb_2.camera_visThumb
                        %img.camera_thumb{:src => "http://truemart.net/vmdemo/bakerymart/images/sampledata/slider/1_03_th.jpg", :style => "opacity: 0.5;"}/
                      %li.pix_thumb.pix_thumb_3.camera_visThumb.cameracurrent
                        %img.camera_thumb{:src => "http://truemart.net/vmdemo/bakerymart/images/sampledata/slider/2_03_th.jpg", :style => "opacity: 1;"}/
        .camera_loader{:style => "display: none; visibility: visible;"}
      %div{:style => "clear:both;"}
    .nx-banner-top-right
      .bannergroup
        .banneritem
          %a{:href => "/", :target => "_blank", :title => "Catalogue"}
            %img{:alt => "Catalogue", :src => "/assets/catalogue.png"}/
          .clr
        .banneritem
          %a{:href => "/", :target => "_blank", :title => "Delivery"}
            %img{:alt => "Delivery", :src => "/assets/delivery.png"}/
          .clr
        .banneritem
          %a{:href => "/", :target => "_blank", :title => "Shop Locally"}
            %img{:alt => "Shop Locally", :src => "/assets/shop-locally.png"}/
          .clr
  .clear-fix
