.nx-banner
  .nx-banner-top
  .nx-banner-bottom
    .bannergroup
      .banneritem
        %img{:alt => "Banner bottom", :src => "http://truemart.net/vmdemo/bakerymart/images/banners/banner-bottom-2.jpg"}/
        .clr
  .clear-fix