#nx-container-bottom
  #nx-left-sidebar
    .nx-menu-left
      %ul.menu
        %li.item-136
          %a{:href => "/vmdemo/bakerymart/index.php/breads"} Breads
        %li.item-137
          %a{:href => "/vmdemo/bakerymart/index.php/viennoiserie"} Viennoiserie
        %li.item-138
          %a{:href => "/vmdemo/bakerymart/index.php/pastries"} Pastries
        %li.item-139
          %a{:href => "/vmdemo/bakerymart/index.php/muffins"} Muffins
        %li.item-140
          %a{:href => "/vmdemo/bakerymart/index.php/tarts"} Tarts
        %li.item-141
          %a{:href => "/vmdemo/bakerymart/index.php/cookies"} Cookies
        %li.item-142
          %a{:href => "/vmdemo/bakerymart/index.php/chocolates"} Chocolates
        %li.item-143
          %a{:href => "/vmdemo/bakerymart/index.php/soups-and-salads"} Soups and Salads
        %li.item-144
          %a{:href => "/vmdemo/bakerymart/index.php/sandwiches"} Sandwiches
        %li.item-145
          %a{:href => "/vmdemo/bakerymart/index.php/quiche"} Quiche
      .bannergroup
        .banneritem
          %img{:alt => "Banner Left", :src => "http://truemart.net/vmdemo/bakerymart/images/banners/banner-left.jpg"}/
          .clr
      #all_manu_s
        #khung_mn_s
          #bgm_s
          #bth_s
            %span.icon_bt_s
            %span.thm_12_b_black_s vm manufacturers
          #btb_s
        #pop_up_s
          #manu_vm_all_s
            #manufacturer_vm_s
              .vmgroup22{:style => "width:210px; margin: 0 auto; border: 0px solid red;"}
                %input#width_div_module{:type => "hidden", :value => "200"}/
                %input#width_div_module2{:type => "hidden", :value => "210"}/
                %input#width_div_scroll{:type => "hidden", :value => "200"}/
                .vmmanufacturer_s
                  %center
                    .jcarousel-skin-tango
                      .jcarousel-container.jcarousel-container-vertical{:style => "position: relative; display: block;"}
                        .jcarousel-clip.jcarousel-clip-vertical{:style => "position: relative;"}
                          %ul#mycarousel.jcarousel.jcarousel-list.jcarousel-list-vertical{:style => "overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; height: 1132px;"}
                            %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-1.jcarousel-item-1-vertical{:jcarouselindex => "1", :style => "display: inline; float: none !important; list-style: none;"}
                              %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/alice-rose"}
                                %img{:alt => "logo-alice-rose", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/logo-alice-rose_200x150.jpg"}/
                                %div{:style => "text-align:center !important; width: 180px"}
                            %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-2.jcarousel-item-2-vertical{:jcarouselindex => "2", :style => "display: inline; float: none !important; list-style: none;"}
                              %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/branding-sparks-cakes"}
                                %img{:alt => "branding_sparks_cakes_logo", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/branding_sparks_cakes_logo_200x150.jpg"}/
                                %div{:style => "text-align:center !important; width: 180px"}
                            %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-3.jcarousel-item-3-vertical{:jcarouselindex => "3", :style => "display: inline; float: none !important; list-style: none;"}
                              %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/candy-cake"}
                                %img{:alt => "logo-candy", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/logo-candy_200x150.gif"}/
                                %div{:style => "text-align:center !important; width: 180px"}
                            %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-4.jcarousel-item-4-vertical{:jcarouselindex => "4", :style => "display: inline; float: none !important; list-style: none;"}
                              %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/ludger-cake"}
                                %img{:alt => "logo-ludger", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/logo-ludger_200x150.jpg"}/
                                %div{:style => "text-align:center !important; width: 180px"}
                            %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-5.jcarousel-item-5-vertical{:jcarouselindex => "5", :style => "display: inline; float: none !important; list-style: none;"}
                              %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/tortuga-rum-florida"}
                                %img{:alt => "tortuga-rum-cake-florida-coconut", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/tortuga-rum-cake-florida-coconut_200x150.jpg"}/
                                %div{:style => "text-align:center !important; width: 180px"}
                            %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-6.jcarousel-item-6-vertical{:jcarouselindex => "6", :style => "display: inline; float: none !important; list-style: none;"}
                              %a{:href => "/vmdemo/bakerymart/index.php/online-shop/manufacturers/wilton-cake"}
                                %img{:alt => "logo-wilton", :src => "/vmdemo/bakerymart/images/stories/virtuemart/manufacturer/resized/logo-wilton_200x150.jpg"}/
                                %div{:style => "text-align:center !important; width: 180px"}
                        .jcarousel-prev.jcarousel-prev-vertical{:style => "display: block; left: -12px;"}
                        .jcarousel-next.jcarousel-next-vertical{:style => "display: block; left: -12px;"}
            / end #manufacturer_vm
          / end #manu_vm_all
        / end #pop up
      / end #all_manu
      :javascript
        jQuery(document).ready(function() {
            jQuery('#mycarousel').jcarousel({
                vertical: true,
                scroll: 2,
                //size:4,
                //visible:4,
                //auto:6,
                wrap: 'circular'
            });
        });
      :javascript
        jQuery(document).ready(function() {
            var moduletable = jQuery('.moduletable').width();
            var width_div_scroll =jQuery('#width_div_scroll').val();
            var width_div_module = jQuery('#width_div_module').val();
            var btb = jQuery('#btb_s').width();
            var bgm = jQuery('#bgm_s').width();
            var bth = jQuery('#bth_s').width();
            var tg = btb + bgm + bth;
            var tg2 = tg/2-16 +'px';   
            jQuery('.jcarousel-skin-tango .jcarousel-next-vertical,.jcarousel-skin-tango .jcarousel-prev-vertical').css('left',tg2);
           
            if((tg < moduletable) && (width_div_module < moduletable)) {
                bth = moduletable - btb - bgm - 3;
                jQuery('.jcarousel-container').width(tg);                 
            }
        });
      :css
        #manu_vm_all_s {
                display:inline-block;
            }
            #manu_vm_all_s img#img_icon_vm_s {
                position:absolute;
                top:0px;
            }
            #manufacturer_vm_s {
                margin: 0 auto;
                padding: 1px;
                width: auto;
                display:inline-block;
                top:0px;
                left:32px;
                display: block;
                background: none repeat scroll 0 0 #FFF;
            }
            #manufacturer_vm_s img {
                width: 200px;
                height: 150px;
                border: 1px solid #999;
                display: block;
            }
            #manufacturer_vm_s a {
                text-decoration: none;
            }
            .thm-12-b_s {
          font-family: Tahoma, Geneva, sans-serif;
          font-size: 12px;
          font-weight: bold;
          color: #000;
          text-decoration: none;
            widows: inherit;
            overflow: hidden;
            vertical-align: top !important;
            padding-left: 190px;
            position:absolute;
            padding:4px 0px 2px 212px;
            text-align:left; width:60%;
        }
        .thm-12-b_s-2 {
            font-weight: bold;
            text-align: center;
            padding-bottom: 60px;
        }
  / END Left-SideBar
  .clear-fix
  #nx-content
    .nx-content-top
      .moduletable
        %h3 WELL COME TO OUR SITE!
        .custom
          .content-leading
            %img{:alt => "leading", :border => "0", :src => "/vmdemo/bakerymart/images/content-leading.jpg"}/
            %p.intro At Aroma we believe that bread should always be healthy and natural. That's why our delicious breads are baked fresh every day using a sourdough base with no added sugar, preservatives or cholesterol. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vel tortor vitae nibh condimen.
          .content-items-1
            %img{:alt => "birthday-cake", :border => "0", :src => "/vmdemo/bakerymart/images/birthday-cake.jpg"}/
            %p.intro-items Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vel tortor...
            %p.read-more
              %a{:href => "/vmdemo/bakerymart/index.php/retail-franchisee"} Read More
          .content-items-2
            %img{:alt => "birthday-cake", :border => "0", :src => "/vmdemo/bakerymart/images/stollen.jpg"}/
            %p.intro-items Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vel tortor...
            %p.read-more
              %a{:href => "/vmdemo/bakerymart/index.php/manufacturing"} Read More
          .content-items-3
            %img{:alt => "birthday-cake", :border => "0", :src => "/vmdemo/bakerymart/images/all-taste.jpg"}/
            %p.intro-items Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vel tortor...
            %p.read-more
              %a{:href => "/vmdemo/bakerymart/index.php/affiliate-program"} Read More
    / End content-top
    .clear-fix
    .nx-component
      #system-message-container
      .nx-latest-view
        %h2.nx-latest-title.nx-title WHAT NEW ON SHOP?
        %ul#nx-items1
      .nx-topten-view
        %h2.nx-topten-title.nx-title NEW PRODUCTIONS!
        %ul#nx-items2
          %li
            %img.nx-topten-image{:src => "/vmdemo/bakerymart/templates/bakerymart/html/com_virtuemart/assets/images//new-product.png"}/
            .nx-topten-product-picture
              %a{:href => "/vmdemo/bakerymart/index.php/products/cakes-candy/rose-shaped-brownie-detail"}
                %img.featuredProductImage{:alt => "rose_shaped_brownie_cakes_med", :border => "0", :src => "/vmdemo/bakerymart/images/stories/virtuemart/product/resized/rose_shaped_brownie_cakes_med_200x150.jpg"}/
            .nx-topten-product-info
              .nx-topten-product-link
                %a{:href => "/vmdemo/bakerymart/index.php/products/cakes-candy/rose-shaped-brownie-detail", :title => "Rose Shaped Brownie"} Rose Shaped Brownie
              .nx-product-sdec
                %p
                  Our coffee cakes are moist, sweet and have just the right mixture of the highest quality...
              .nx-topten-product-price
                .PricevariantModification{:style => "display : none;"}
                  Variant price modifier:
                  %span.PricevariantModification
                .PricebasePriceWithTax{:style => "display : none;"}
                  Base price with tax:
                  %span.PricebasePriceWithTax
                .PricediscountedPriceWithoutTax{:style => "display : block;"}
                  Price with discount:
                  %span.PricediscountedPriceWithoutTax $45.00
                .PricesalesPriceWithDiscount{:style => "display : none;"}
                  Salesprice with discount:
                  %span.PricesalesPriceWithDiscount
                .PricesalesPrice{:style => "display : block;"}
                  \ 
                  %span.PricesalesPrice $45.00
                .PricepriceWithoutTax{:style => "display : block;"}
                  \ 
                  %span.PricepriceWithoutTax $45.00
                .PricetaxAmount{:style => "display : none;"}
                  Tax amount:
                  %span.PricetaxAmount
              .nx-addtocart-area
                %form.product.js-recalculate{:action => "index.php", :method => "post"}
                  .addtocart-bar
                    %label.quantity_box{:for => "quantity"}
                    %span.quantity-box
                      %input.quantity-input{:name => "quantity[]", :type => "text", :value => "1"}/
                    %span.quantity-controls
                      %input.quantity-controls.quantity-minus{:type => "button"}/
                      %br/
                      %input.quantity-controls.quantity-plus{:type => "button"}/
                    %span.addtocart-button
                      %input.addtocart-button{:name => "addtocart", :title => "Add to Cart", :type => "submit", :value => "Add to Cart"}/
                    .clear
                  %input.pname{:type => "hidden", :value => "Rose Shaped Brownie"}/
                  %input{:name => "option", :type => "hidden", :value => "com_virtuemart"}/
                  %input{:name => "view", :type => "hidden", :value => "cart"}/
                  %noscript <input type="hidden" name="task" value="add" />
                  %input{:name => "virtuemart_product_id[]", :type => "hidden", :value => "14"}/
                  %input{:name => "virtuemart_manufacturer_id", :type => "hidden", :value => "5"}/
                  %input{:name => "virtuemart_category_id[]", :type => "hidden", :value => "3"}/
                .clear
            %div{:style => "clear: both;"}
          %li
            %img.nx-topten-image{:src => "/vmdemo/bakerymart/templates/bakerymart/html/com_virtuemart/assets/images//new-product.png"}/
            .nx-topten-product-picture
              %a{:href => "/vmdemo/bakerymart/index.php/products/cakes-candy/fruit-cake-detail"}
                %img.featuredProductImage{:alt => "125695863186", :border => "0", :src => "/vmdemo/bakerymart/images/stories/virtuemart/product/resized/125695863186_200x150.jpg"}/
            .nx-topten-product-info
              .nx-topten-product-link
                %a{:href => "/vmdemo/bakerymart/index.php/products/cakes-candy/fruit-cake-detail", :title => "Fruit Cake"} Fruit Cake
              .nx-product-sdec
                %p
                  It's hard to choose between our two pound Blueberry, Cinnamon Walnut or Chocolate Chip...
              .nx-topten-product-price
                .PricevariantModification{:style => "display : none;"}
                  Variant price modifier:
                  %span.PricevariantModification
                .PricebasePriceWithTax{:style => "display : none;"}
                  Base price with tax:
                  %span.PricebasePriceWithTax
                .PricediscountedPriceWithoutTax{:style => "display : block;"}
                  Price with discount:
                  %span.PricediscountedPriceWithoutTax $30.60
                .PricesalesPriceWithDiscount{:style => "display : none;"}
                  Salesprice with discount:
                  %span.PricesalesPriceWithDiscount
                .PricesalesPrice{:style => "display : block;"}
                  \ 
                  %span.PricesalesPrice $34.00
                .PricepriceWithoutTax{:style => "display : block;"}
                  \ 
                  %span.PricepriceWithoutTax $30.60
                .PricetaxAmount{:style => "display : none;"}
                  Tax amount:
                  %span.PricetaxAmount
              .nx-addtocart-area
                %form.product.js-recalculate{:action => "index.php", :method => "post"}
                  .addtocart-bar
                    %label.quantity_box{:for => "quantity"}
                    %span.quantity-box
                      %input.quantity-input{:name => "quantity[]", :type => "text", :value => "1"}/
                    %span.quantity-controls
                      %input.quantity-controls.quantity-minus{:type => "button"}/
                      %br/
                      %input.quantity-controls.quantity-plus{:type => "button"}/
                    %span.addtocart-button
                      %input.addtocart-button{:name => "addtocart", :title => "Add to Cart", :type => "submit", :value => "Add to Cart"}/
                    .clear
                  %input.pname{:type => "hidden", :value => "Fruit Cake"}/
                  %input{:name => "option", :type => "hidden", :value => "com_virtuemart"}/
                  %input{:name => "view", :type => "hidden", :value => "cart"}/
                  %noscript <input type="hidden" name="task" value="add" />
                  %input{:name => "virtuemart_product_id[]", :type => "hidden", :value => "30"}/
                  %input{:name => "virtuemart_manufacturer_id", :type => "hidden", :value => "3"}/
                  %input{:name => "virtuemart_category_id[]", :type => "hidden", :value => "3"}/
                .clear
            %div{:style => "clear: both;"}
          %li
            %img.nx-topten-image{:src => "/vmdemo/bakerymart/templates/bakerymart/html/com_virtuemart/assets/images//new-product.png"}/
            .nx-topten-product-picture
              %a{:href => "/vmdemo/bakerymart/index.php/products/cakes-candy/trophy-mousse-detail"}
                %img.featuredProductImage{:alt => "trophy_mousse_cake_sampler_med", :border => "0", :src => "/vmdemo/bakerymart/images/stories/virtuemart/product/resized/trophy_mousse_cake_sampler_med_200x150.jpg"}/
            .nx-topten-product-info
              .nx-topten-product-link
                %a{:href => "/vmdemo/bakerymart/index.php/products/cakes-candy/trophy-mousse-detail", :title => "Trophy Mousse"} Trophy Mousse
              .nx-product-sdec
                %p
                  Our coffee cakes are moist, sweet and have just the right mixture of the highest quality...
              .nx-topten-product-price
                .PricevariantModification{:style => "display : none;"}
                  Variant price modifier:
                  %span.PricevariantModification
                .PricebasePriceWithTax{:style => "display : none;"}
                  Base price with tax:
                  %span.PricebasePriceWithTax
                .PricediscountedPriceWithoutTax{:style => "display : block;"}
                  Price with discount:
                  %span.PricediscountedPriceWithoutTax $34.20
                .PricesalesPriceWithDiscount{:style => "display : none;"}
                  Salesprice with discount:
                  %span.PricesalesPriceWithDiscount
                .PricesalesPrice{:style => "display : block;"}
                  \ 
                  %span.PricesalesPrice $34.20
                .PricepriceWithoutTax{:style => "display : block;"}
                  \ 
                  %span.PricepriceWithoutTax $34.20
                .PricetaxAmount{:style => "display : none;"}
                  Tax amount:
                  %span.PricetaxAmount
              .nx-addtocart-area
                %form.product.js-recalculate{:action => "index.php", :method => "post"}
                  .addtocart-bar
                    %label.quantity_box{:for => "quantity"}
                    %span.quantity-box
                      %input.quantity-input{:name => "quantity[]", :type => "text", :value => "1"}/
                    %span.quantity-controls
                      %input.quantity-controls.quantity-minus{:type => "button"}/
                      %br/
                      %input.quantity-controls.quantity-plus{:type => "button"}/
                    %span.addtocart-button
                      %input.addtocart-button{:name => "addtocart", :title => "Add to Cart", :type => "submit", :value => "Add to Cart"}/
                    .clear
                  %input.pname{:type => "hidden", :value => "Trophy Mousse"}/
                  %input{:name => "option", :type => "hidden", :value => "com_virtuemart"}/
                  %input{:name => "view", :type => "hidden", :value => "cart"}/
                  %noscript <input type="hidden" name="task" value="add" />
                  %input{:name => "virtuemart_product_id[]", :type => "hidden", :value => "15"}/
                  %input{:name => "virtuemart_manufacturer_id", :type => "hidden", :value => "4"}/
                  %input{:name => "virtuemart_category_id[]", :type => "hidden", :value => "3"}/
                .clear
            %div{:style => "clear: both;"}
    / END component
  / End Content
/ END CONTAINER BOTTOM
.nx-extra-user
  .nx-user-1
    .moduletable
      .custom
        %p
          %img{:alt => "", :border => "0", :src => "/vmdemo/bakerymart/images/user-1.jpg"}/
        .text-user
          %h3 Diwali Pre-Oder Offer!
          %p Little kids, BIG surprises! Check out to delight kids.
          %p
            %a{:href => "/vmdemo/bakerymart/index.php/chocolates"} Click here to gift now...
  / End User-1
  .nx-user-2
    .moduletable
      .custom
        %p
          %img{:alt => "user", :border => "0", :src => "/vmdemo/bakerymart/images/user-2.jpg"}/
        .text-user
          %h3 Send Gifts International
          %p You can now send gifts to over 100 countries Internationally!
          %p
            %a{:href => "/vmdemo/bakerymart/index.php/breads"} View our global collection......
  / End User-2
  .nx-user-3
    .moduletable
      .custom
        %p
          %img{:alt => "user", :border => "0", :src => "/vmdemo/bakerymart/images/user-3.jpg"}/
        .text-user
          %h3 Kid's Store
          %p Little kids, BIG surprises! Check out our vast collection of gifts to delight your kids.
          %p
            %a{:href => "/vmdemo/bakerymart/index.php/chocolates"} Click here to gift now...
  / End User-2
/ END Extra User
.nx-menu-bottom
  .moduletable
    %h3 Shop Our Cakes
    %ul.menu
      %li.item-146
        %a{:href => "/vmdemo/bakerymart/index.php/bundt-cakes"} Bundt Cakes
      %li.item-147
        %a{:href => "/vmdemo/bakerymart/index.php/layer-cakes"} Layer Cakes
      %li.item-148
        %a{:href => "/vmdemo/bakerymart/index.php/cup-cakes"} Cup Cakes
      %li.item-149
        %a{:href => "/vmdemo/bakerymart/index.php/specialty"} Specialty
      %li.item-150
        %a{:href => "/vmdemo/bakerymart/index.php/all-products"} All Products
/ END Menu-Bottom