/********* Featured Products *********/
.nx-featured-products{
	overflow: hidden;
	display: block;
	padding: 32px 30px;
}

/*****/
.product-1,
.product-2,
.product-3,
.product-4{
	padding: 5px 7px;
	border: 1px solid #cdc4ad;
	float: left;
	border-radius:5px; 
}
.product-3{margin-left: 33px;}
.product-2,
.product-4{margin-left: 32px;}
.product-images-1{
	background: url("../images/product-1.jpg") no-repeat 0 0;
	width: 200px;
	height: 200px;
}
.product-1,
.product-4{position: relative;}
.product-1 img{
	position: absolute;
	top: 105px;
	left: -29px;
}
.product-4 img{
	position: absolute;
	right: -26px;
    top: 105px;
}
.product-detail{}
h3.title-product{
	text-align: center;	
}
h3.title-product a{
	text-transform: none;
	color: #8c3511;
	font-size: 20px;
	text-decoration: none;
}

h3.title-product a:hover{
	color: #CA3B0F; 
}
p.price-product{
	color: #a17322;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin: 5px 20px;
}

button#nx-add-bag{
	background: url("../images/add-to-bag.png") no-repeat 0 0;
	width: 100px;
	height:30px;
	text-indent: -999em;
	cursor: pointer;
	display: block;
	border: none;
	float: left;
	margin-left: -15px;
}

.product-images-2{
	background: url("../images/product-2.jpg") no-repeat 0 0;
	width: 200px;
	height: 200px;
}

.product-images-3{
	background: url("../images/product-3.jpg") no-repeat 0 0;
	width: 200px;
	height: 200px;
}
.product-images-4{
	background: url("../images/product-4.jpg") no-repeat 0 0;
	width: 200px;
	height: 200px;
}
/********* NEW PRODUCTS **********/
.nx-new-products{overflow: hidden;}
.product-5{
	width: 218px;
	overflow: hidden;
	position: relative;
	float: left;
}
.product-5 img,
.product-6 img,
.product-7 img{
	position: absolute;
	top: 15px;
	right: 0;
}
.product-images-5{
	background: url("../images/product-5.jpg") no-repeat 0 0;
	width: 210px;
	height: 150px;
	margin: 28px 0 0 -2px;
}

.product-6{
	width: 218px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-left: 22px;
}
.product-images-6{
	background: url("../images/product-6.jpg") no-repeat 0 0;
	width: 210px;
	height: 150px;
	margin: 28px 0 0 -2px;
}
.product-7{
	width: 210px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-left: 24px;
}
.product-images-7{
	background: url("../images/product-7.jpg") no-repeat 0 0;
	width: 210px;
	height: 150px;
	margin: 28px 0 0 -2px;
}
.product-detail h3.title-product{
	margin-top: 3px;
    text-align: left;
    padding-left: 6px;
}
.product-detail h3.title-product a{
	color: #d03e11;
    font-size: 18px;
    text-decoration: none;
    text-transform: none;
}
p.short-desc{
	text-align: justify;
	color: #333;
	font-size: 14px;
	line-height: 18px;
    padding: 3px;
    width: 195px;
}
p.discount-price{
	color: #ce6444;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin-left: 5px;
	
}
p.discount-price span{
	font-size: 17px;
	color: #666;
	text-decoration: line-through;
	font-weight: normal;
	margin-left: 17px;
}

button#nx-to-bag{
	background: url("../images/add-bag.png") no-repeat 0 0;
	width: 75px;
	height: 25px;
	border: none;
	text-indent: -999em;
	margin: 8px 0 0 48px;
	cursor: pointer;
}

/****TOP TEN PRODUCT***/
.nx-top-products{
	overflow: hidden;
	margin: 28px 0 0 3px;
}

.product-8{
	width: 215px;
	overflow: hidden;
	position: relative;
	float: left;
}
.product-images-8{
	background: url("../images/product-8.jpg") no-repeat 0 0;
	width: 210px;
	height: 150px;
	margin: 28px 0 0 -2px;
}

.product-9{
	width: 215px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-left: 22px;
}
.product-images-9{
	background: url("../images/product-9.jpg") no-repeat 0 0;
	width: 210px;
	height: 150px;
	margin: 28px 0 0 -2px;
}

.product-10{
	width: 210px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-left: 23px;
}
.product-images-10{
	background: url("../images/product-10.jpg") no-repeat 0 0;
	width: 210px;
	height: 150px;
	margin: 28px 0 0 -2px;
}

.product-8 .product-detail h3.title-product,
.product-9 .product-detail h3.title-product,
.product-10 .product-detail h3.title-product{margin-top: 5px;}

/*********** Messages *************/
#system-message {
    background: none repeat scroll 0 0 #EDEDED;
    box-shadow: 0 0 4px 0;
    margin: 0 0 2px;
    padding: 10px 20px;
}

#system-message-container .info.message ul{list-style: none;}

/**** Login *****/
.nx-registration,
.nx-login{
	margin:24px 0 0 30px;

}
.nx-registration form,
.nx-login form{
	padding: 20px 0;	
}
.nx-user-account{
	margin-left: 40px;
	border-left: 1px solid #d3d3d3;
	padding-left: 40px;
	float: left;
}

.nx-login fieldset{
    float: left;
    border: none;
}

.nx-registration fieldset{
	border: none;
}
#nx-member-registration >fieldset >legend{
	color: #333;
	font-family: 'Open Sans',sans-serif;
    font-size: 13px; 
}
.nx-user-account >ul{list-style: none;}
.nx-user-account >ul >li{
	padding: 5px 0;
}
.nx-user-account >ul >li >a{
	color: #333;
	font-family: 'Open Sans',sans-serif;
    font-size: 12px; 
    text-decoration: none;
}
.nx-login-fields{
	padding: 5px;
}
.nx-registration label,
.nx-login-fields label{
	color: #333;
	font-family: 'Open Sans',sans-serif;
    font-size: 12px; 
    padding: 0 10px;
    width: 85px;
    float: left;
}

.nx-registration dt >label{
	float: left;
	width: 193px;
	margin: 10px 0;
}
.nx-registration dd >input{
	margin: 10px 0;
}
label#password-lbl{}
.nx-registration input,
.nx-login-fields input{
	width: 180px;
	border: 1px solid #d3d3d3;
	padding:3px 10px;
}

input#nx-remember{
	width: 10px;
}
button.nx-validate,
button.nx-button{
	margin:10px 0 10px 16px;
	background: url("../images/nx-button.png") no-repeat 0 0;
	height: 35px;
	width: 95px;
	cursor: pointer;
	border: 0;
	color: #fff;
}
#system-message{
	box-shadow: 0 0 4px 0;
    margin: 0 0 2px 0px;
    padding: 10px;
	background: #EDEDED;
}
.error{
	color: #999;
	font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}

.message{
	color: #333;
}

.nx-register{
	color: #333;
	font-family: 'Open Sans',sans-serif;
    font-size: 12px; 
}

.nx-register a{
	text-decoration: none;
	color: #333;
	font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}

table.user-details select{
	border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 3px 5px;
    width: 212px !important;
}

.buttonBar-right button.button{
	background: url("../images/nx-button.png") no-repeat center top;
	color: #fff;
	cursor: pointer;
	width: 95px;
	height: 35px;
	border: none;
}

.form-validate fieldset{
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 10px;
}

/**** Contact *****/
.contact h2{
	background: none repeat scroll 0 0 #FDB89D;
    padding: 0 10px;
    margin-bottom: 10px;
}
.contact h2 span{
	color: #fff;
}
div.contact-contactinfo {
    margin-bottom: 20px;
}
div.contact-form {
    margin-bottom: 40px;
}
form#contact-form fieldset {
    border: 1px solid #CCCCCC;
    padding: 20px;
}
form#contact-form textarea, form#contact-form input {
    border: 1px solid #D3D3D3;
    padding: 3px 8px;
}
form#contact-form button {
    background: url("../images/nx-button.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    height: 35px;
    text-shadow: none;
    width: 95px;
}