.nx-featured-products{
	display: block;
    overflow: hidden;
    padding: 0;
    width: 1024px;
}
.nx-featured{ margin-bottom: 10px;}

.nx-featured-products #product-carousel-featured{}

.nx-products-image{
	width: 200px;
	height: 200px;
}
.nx-products-image img{
	width: 200px;
	height: auto;
}
span.quantity-box, span.quantity-controls{display: none;}
.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #FFF;
}
.nx-title-product{text-align: center;margin: 0;}
.nx-title-product a{
	text-decoration: none;
	color: #D03E11;
    font-size: 18px;
}
.PricesalesPrice{
	color: #A17322;
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin: 5px 12px 3px 0;
}
.addtocart-area{
	float: left;
	overflow: hidden;
	width: 100px;
	display: block;
	margin-top: 5px;
}

.nx-featured input.addtocart-button{
	background: url("add-to-bag.png") no-repeat scroll 0 0 transparent !important;
    border: medium none !important;
    cursor: pointer;
    display: block;
    height: 30px !important;
    margin-left: -15px;
    text-indent: -999em;
    width: 100px !important;
    float: left;
}
.nx-featured .product-fields{
	display: none;
}
/***********/
.nx-featured .jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #FFF;
}

.nx-featured .jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.nx-featured .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 1024px !important;
    padding: 20px 0px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.nx-featured .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  1024px;
    height: 282px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-item {
    width: 195px;
    height: 260px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin: 0 2px 0 30px;
    border: 1px solid #CDC4AD;
    padding: 10px;
    border-radius: 6px 6px 6px 6px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.nx-featured .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 136px;
    right: 0px;
    width: 30px;
    height: 59px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.nx-featured .jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.nx-featured .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: 0px 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: 0px 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.nx-featured .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.nx-featured .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.nx-featured .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 136px;
    left: 0px;
    width: 30px;
    height: 59px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.nx-featured .jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.nx-featured .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: 0px 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: 0px 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.nx-featured .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.nx-featured .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.nx-featured .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
}

/**
 *  Vertical Buttons
 */
.nx-featured .jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-next-vertical:hover,
.nx-featured .jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.nx-featured .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.nx-featured .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.nx-featured .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.nx-featured .jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.nx-featured .jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.nx-featured .jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.nx-featured .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.nx-featured .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.nx-featured .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
