* {
	padding: 0px;
	margin: 0px;
}

html {
	
}

body {
	margin: 0px auto;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

img {
	border: 0px none;
}

a {
    color: #333333;
    cursor: pointer;
    text-decoration: none;

}
a:hover{
	color: #CA3B0F;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif !important;
}

h1, h2 {
	font-size: 16px;
}

/****** Page *******/
#nx-page {
	width: 1024px;
	min-height: 400px;
	margin: 0px auto;
}
/****** Header ******/
#nx-header {
	position: relative;
	padding-left: 0px;
	height: 135px;
}
/*** LOGO ***/
.nx-logo {
	background: url("/assets/nx-logo.jpg") no-repeat scroll 0px 0px
		transparent;
	height: 120px;
	width: 240px;
	float: left;
}

.nx-header-middle {
	float: left;
	width: 390px;
	margin-left: 58px;
}
/**** Headline *****/
.nx-headline {
	margin: 20px 0px 1px;
	padding: 7px 0px 8px;
}

.nx-headline p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
}

.nx-headline img {
	padding-left: 5px;
}
/***** Search ******/
.nx-search {
	float: left;
	border: 1px solid #E5E5E5;
	background: none repeat scroll 0% 0% #EAE6DB;
	border-radius: 5px 5px 5px 5px;
	margin: 7px 0px 12px;
	padding: 10px;
	width: 297px;
}

#search-form {}

#search-text {
	width: 202px;
	color: #BEBEBE;
	padding: 5px 10px;
	float: left;
	border: medium none;
}

#sub-search {
	background: url("/assets/nx-search.png") no-repeat scroll 0px 0px
		transparent;
	border: 0px none;
	height: 28px;
	position: absolute;
	width: 70px;
	cursor: pointer;
	left: 536px;
	top: 70px;
	color: #FFFFFF;
	padding: 0px 0px 4px 4px;
}

/***** User-top ******/
.nx-user-top {
	float: left;
	margin-left: 5px;
	width: 329px;
	overflow: hidden;
}

/**** Cart *****/
.nx-cart {
	padding: 5px;
	background: url("/assets/my-bag.jpg") no-repeat  12px center #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	right: 0px;
	top: 54px;
	width: 230px;
	display: block;
}

.nx-mycart {
	float: left;
	border-right: 1px dotted #666666;
	background: url("/assets/my-cart.png") no-repeat scroll 10px 20px
		transparent;
	padding: 0px 10px 33px 13px;
}

.nx-mycart a {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.nx-total-price {
	float: left;
	border-right: 1px dotted #666666;
	padding: 0px 10px 0px 12px;
}

.nx-total-price p {
	text-align: center;
	font-size: 12px;
}

.nx-total-price p.total-price {
	font-size: 12px;
	font-weight: bold;
}

#nx-check-out {
	background: url("/assets/check-out.png") no-repeat scroll 0px 0px
		transparent;
	text-indent: -999em;
	cursor: pointer;
	width: 70px;
	border: 0px none;
	margin: -1px 0px 0px 2px;
}

.nx-view-cart {
	line-height: 15px;
}

.nx-view-cart p {
	text-align: center;
	font-size: 12px;
}

.nx-view-cart p.count,
.nx-view-cart p.view-cart {
	font-weight: bold;
}

/**** Middle ******/
#nx-middle {
	margin: 3px 0 12px;
	border: 1px solid #D7D3BF;
	padding: 8px 2px 0;
	border-radius: 5px 5px 5px 5px;
}

.nx-banner {
	width: 1024px;
	overflow: hidden;
	display: block;
}

.nx-banner-top {
	overflow: hidden;
	position: relative;
}
.nx-banner-bottom{
	overflow: hidden;
	margin-left: 5px;
}
/*** Sliser ****/
.nx-slider {
	background: url("/assets/nx-slider.jpg") no-repeat scroll 0px 0px
		transparent;
	width: 730px;
	height: 360px;
	float: left;
	margin: 0px 2px 8px;
}

/**** Banner top right *****/
.nx-banner-top-right {
	float: left;
	width: 275px;
	margin: 16px 0px 0px 3px;
	position: relative;
}

.nx-catalogue{
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
}

.nx-catalogue a:hover img{
	position: absolute;
	right: -5px;
	top: 0px;
	left: -5px;
}

.nx-delivery {
	position: absolute;
	top: 116px;
}
.nx-delivery a:hover img{
	position: absolute;
	right: 0px;
	top: 0px;
	left: -5px;
}
.nx-shop-locally{
	top: 4px;
	position: absolute;
	right: 0px;
	top: 233px;
	left: 0;
}
.nx-shop-locally a:hover img{
	position: absolute;
	right: 0px;
	top: 0px;
	left: -5px;
}

/**** CONTAINER BOTTOM *****/
#nx-container-bottom{overflow: hidden;}

#nx-content{
	margin-left: 60px;
	width: 692px;
	float: left;
}
.nx-content-top{overflow: hidden;}
h2.nx-title-component{
	color: #CA3B0F;
}
.nx-content-top h3{
	color: #CA3B0F;
    font-size: 27px;
    font-family: 'Open Sans',sans-serif;
}
.content-leading{overflow: hidden;}
.content-leading img{
	float: left;
	margin: 18px 0 0 2px;
}
.content-leading p.intro{
	float: left;
	text-align: justify;
	color: #8b8b8b;
	font-family: arial;
	font-size: 14px;
	line-height: 20px;
	margin: 20px 0 0 13px;
	width: 546px;
}
.content-items-3,
.content-items-1{
	width: 220px;
	overflow: hidden;
	margin-top: 17px;
	float: left;
}
.read-m {
  padding-bottom: 0px
}
.content-items-2{
	width: 220px;
	overflow: hidden;
	margin: 17px 16px 0;
	float: left;
}
.content-items-1 img{}
p.intro-items{
	text-align: justify;
	line-height: 18px;
    padding: 4px 24px;
    text-align: justify;
	font-family: arial;
	font-size: 13px;
	color: #d8a252;
}
p.read-more{
	background: url("/assets/nx-button.png") no-repeat center 0;
	height: 35px;
	width: 95px;
	border: none;
	display: block;
	padding-top: 10px;

	
}
p.read-more a{
	color: #fff;
	font-family: arial, serif;
	font-size: 13px;
	font-weight: bold;
	display: block;
	margin: 0 12px;
}
.content-items-1 p.read-more{
	margin: 7px 23px;
}
.content-items-2 p.read-more{
	margin: 7px 34px;
}
.content-items-3 p.read-more{
	margin: 7px 43px;
}
/****** Left Sidebar *******/
.nx-banner-left{
	overflow: hidden;
	margin: 12px 0 0 2px;
}
.banneritem img[alt='Banner Left'],
.nx-banner-left img{
	border: 1px solid #cdc4ad;
	border-radius:15px;
}

.avertiting{
	overflow: hidden;
	margin-top: 18px;
}
.avert-banner{
	padding: 16px 24px;
	border: 1px solid #cdc4ad;
	border-radius:15px;
	margin-top: 24px;
}
p.avert-banner-1{
	margin-bottom: 20px;
}

.banneritem img[alt='Avert Banner 1']{
	border: 1px solid #CDC4AD;
    border-radius: 15px 15px 15px 15px;
    margin-top: 24px;
    padding: 16px 0px;
}
/****** Breadcrumd *****/
#nx-breadcrumbs{
	float: left;
	margin-left: 60px;
	padding: 20px 0 20px 24px;
	background: url("/assets/breadcrumb-home.jpg") no-repeat center left;
}

.breadcrumbs a{
	color: #ca3b0f;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}

.breadcrumbs  span{
	color: #FF8400;
}
/****** Component *******/
.nx-component{/* padding: 12px 0px; */overflow: hidden;}

/******* Extra User *******/
.nx-extra-user{
	overflow: hidden;
	width: 1024px;
	margin-top: 25px;
}
.nx-user-1{
	width: 320px;
	overflow: hidden;
	float: left;
}
.nx-user-2{
	width: 330px;
	overflow: hidden;
	float: left;
	margin-left: 28px;
}
.nx-user-3{
	width: 310px;
	overflow: hidden;
	float: left;
	margin-left: 35px;
}
.nx-user-1 img,
.nx-user-2 img,
.nx-user-3 img{
	float: left;
}


.text-user{
	float: left;
    width: 160px;
    padding-top: 5px;
    margin-left: 25px;
}
.text-user h3{
	color: #bf3f15;
	font-size: 16px;
	text-transform: none;
}
.text-user p{
	color: #333;
	font-size: 12px;
	font-family: arial;
	text-align: left;
	line-height: 14px;
}

.text-user p>a{
	color: #9A9A9A;
	font-size: 12px;
	font-family: arial;
	text-decoration: none;
	display: block;
	margin-top: 16px;
}

.text-user p>a:hover{
	color: #ca3b0f;
}

.nx-user-2 .text-user{
	margin-left: 25px;
	width: 165px;
}

.nx-user-3 .text-user{
	margin-left: 25px;
}

.nx-user-3 .text-user p>a{
	margin-top: 24px;
}
/******** Footer **********/
#nx-footer{
	overflow: hidden;
	padding: 0px 0 0 16px;
	border: 1px solid #D9D5C2;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.nx-left-footer{
	width: 395px;
	overflow: hidden;
	float: left;
	margin-top: 32px;
}
.nx-copyright h2{
	color: #333;
	font-size: 20px;
	text-transform: none;
}
.nx-copyright img{
	margin-top: 5px;
}
.nx-copyright p{
	text-align: left;
	line-height: 15px;
	color: #333;
	font-size: 12px;
	font-family: arial;
	margin-top: 6px;
}

.nx-copyright p >a{
	text-decoration: none;
	color: #0060ff;
}

.nx-copyright p >span >a:hover,
.nx-copyright p >a:hover{
	color: #ca3b0f;
}

.nx-copyright p >span >a,
.nx-copyright p >span{
	color: #d00500;
	text-decoration: none;
}

/******/
.nx-connect{
	margin-top: 32px;
}

.nx-connect h2{
	color: #333;
	font-size: 20px;
}
.nx-connect img{
	margin-top: 4px;
}
/***** Right Footer *****/
.nx-right-footer{
	float: left;
	width: 565px;
	overflow: hidden;
	padding: 20px 0 20px 58px;
    width: 545px;
}
/** Newsletter **/
.nx-newsletter{
	width: 505px;
	background: #e4e4e4;
	border-radius:5px;
	border: 1px solid #e4e4e4; 
	overflow: hidden;
	margin-left: 10px;
	padding: 0px 10px;
}

.nx-newsletter h3{
	float: left;
	font-size: 15px;
	color: #333;
	margin: 7px 20px 0 0;
}

.nx-newsletter form#newsletter-form{
	float: left;
	display: block;
}
.nx-newsletter form#newsletter-form label{
	color: #5b5b5b;
	font-size: 11px;
	font-family: arial;
}

input#newsletter-text{
	width: 133px;
	padding: 2px 8px;
	border: 1px solid #c8c8c8;
	margin: 0 7px 0 10px;
}
button#sub-subscribe{
	background: url("/assets/button-newsletter.png") no-repeat 0 0;
	width: 76px;
	height: 24px;
	text-indent: -999em;
	cursor: pointer;
	border: none;
}

.nx-share-footer{}
.nx-share-footer img{
	float: right;
    margin: 6px;
}
.nx-debug{
	width: 1024px;
	height: 30px;
	overflow: hidden;
}
.news-bakery{
	margin: 24px 0 20px 0;
}
.news-bakery span:hover{
	color: #CA3B0F !important;
}
.news-bakery .bakery1{
	overflow: hidden;
	border-bottom: 1px dashed #D7D7D7;
	padding: 0px 20px 6px;
}
.news-bakery .bakery1 .bakery1-left{
	width: 45%;
	float: left;
}
.news-bakery .bakery1 .bakery1-left img{
	width: 98px;
	height: 82px;
}
.news-bakery .bakery1 .bakery1-left img:hover{
	opacity: 0.8;
}
.news-bakery .bakery1 .bakery1-right{
	width: 50%;
	float: right;
	margin-top: -3px;
}
.news-bakery .bakery1 .bakery1-right p{
	text-align: left;
}
.news-bakery .bakery1 .bakery1-right .text1{
	color: #444;
	font: 13px Arial;
	line-height: 18px;
}
.news-bakery .bakery1 .bakery1-right .title1{
	color: #333;
	font: 15px Arial;
	cursor: pointer;
}

.news-bakery .bakery2{
	overflow: hidden;
	border-bottom: 1px dashed #D7D7D7;
	padding: 6px 20px;
}
.news-bakery .bakery2 .bakery2-left{
	width: 45%;
	float: left;
}	
.news-bakery .bakery2 .bakery2-left img{
	width: 98px;
	height: 82px;
}
.news-bakery .bakery2 .bakery2-left img:hover{
	opacity: 0.8;
}

.news-bakery .bakery2 .bakery2-right{
	width: 50%;
	float: right;
	margin-top: -3px;
}
.news-bakery .bakery2 .bakery2-right p{
	text-align: left;
}
.news-bakery .bakery2 .bakery2-right .text2{
	color: #444;
	font: 13px Arial;
	line-height: 18px;
}
.news-bakery .bakery2 .bakery2-right .title2{
	color: #333;
	font: 15px Arial;
	cursor: pointer;
}

.news-bakery .bakery3{
	overflow: hidden;
	border-bottom: 1px dashed #D7D7D7;
	padding: 6px 20px;
}
.news-bakery .bakery3 .bakery3-left{
	width: 45%;
	float: left;
}
	
.news-bakery .bakery3 .bakery3-left img{
	width: 98px;
	height: 82px;
}
.news-bakery .bakery3 .bakery3-left img:hover{
	opacity: 0.8;
}
.news-bakery .bakery3 .bakery3-right{
	width: 50%;
	float: right;
	margin-top: -3px;
}
.news-bakery .bakery3 .bakery3-right p{
	text-align: left;
}
.news-bakery .bakery3 .bakery3-right .text3{
	color: #444;
	font: 13px Arial;
	line-height: 18px;
}
.news-bakery .bakery3 .bakery3-right .title3{
	color: #333;
	font: 15px Arial;
	cursor: pointer;
}

.news-bakery .bakery4{
	overflow: hidden;
	padding: 6px 20px;
}
.news-bakery .bakery4 .bakery4-left{
	width: 45%;
	float: left;
}
	
.news-bakery .bakery4 .bakery4-left img{
	width: 98px;
	height: 82px;
}
.news-bakery .bakery4 .bakery4-left img:hover{
	opacity: 0.8;
}
.news-bakery .bakery4 .bakery4-right{
	width: 50%;
	float: right;
	margin-top: -3px;
}
.news-bakery .bakery4 .bakery4-right p{
	text-align: left;
}
.news-bakery .bakery4 .bakery4-right .text4{
	color: #444;
	font: 13px Arial;
	line-height: 18px;
}
.news-bakery .bakery4 .bakery4-right .title4{
	color: #333;
	font: 15px Arial;
	cursor: pointer;
}
.item-page .actions{
	display: none;
}
.item-page .article-info{
	display: none;
}
.item-page h2{
	font: normal 24px Arial !important;
	line-height: 110%;
	margin: 0 0 20px 0;
}
.item-page .img-fulltext-left{
	margin: 0 0 10px 0;
	text-align: center;
}
.item-page .img-fulltext-left img{
	width: 80%;
}
.item-page .img-fulltext-left img:hover{
	opacity: 0.8;
}
.item-page p span{
	font: 13px Arial !important;
	line-height: 20px !important;
}
.pagenav .pagenav-prev{
	float: left;
}
.pagenav .pagenav-next{
	float: right;
}
.blog .items-leading, .blog-featured .items-leading{
	overflow: hidden;
}
.blog .items-leading .leading-0, .blog-featured .items-leading .leading-0{
	margin: 0 0 10px 0;
}
.blog .items-leading .leading-0 h2, .blog-featured .items-leading .leading-0 h2{
	font-weight: normal;
	padding: 0 0 10px 0;
}
.blog .items-leading .leading-0 .img-intro-left img, .blog-featured .items-leading .leading-0 .img-intro-left img{
	width: 80%;
}
.blog .items-leading .leading-0 .img-intro-left, .blog-featured .items-leading .leading-0 .img-intro-left{
	margin: 0 0 10px 0;
	text-align: center;
}
.blog .items-leading .leading-0 p span, .blog-featured .items-leading .leading-0 p span{
	font: 13px Arial;
	line-height: 20px;
}
.blog .items-leading .leading-0 .readmore, .blog-featured .items-leading .leading-0 .readmore{
	float: right;
}
.blog .items-row, .blog-featured .items-row{
	overflow: hidden;
}
.blog .items-row .item, .blog-featured .items-row .item{
	padding: 0 0 10px 0;
}
.blog .items-row .item h2, .blog-featured .items-row .item h2{
	margin: 0 0 10px 0;
	font-weight: normal;
}
.blog .items-row .item .img-intro-left, .blog-featured .items-row .item .img-intro-left{
	margin: 0 0 10px 0;
	text-align: center;
}
.blog .items-row .item .img-intro-left img, .blog-featured .items-row .item .img-intro-left img{
	width: 80%;
}
.blog .items-row .item p span, .blog-featured .items-row .item p span{
	font: 13px Arial;
	line-height: 20px;
}
.blog .items-row .item .readmore, .blog-featured .items-row .item .readmore{
	float: right;
}