/************** USER MENU ******************/
.nx-user-menu {
	width: 329px;
	margin-left: 10px;
}

.nx-user-menu>ul {
	list-style: none outside none;
}

.nx-user-menu>ul>li {
	float: left;
	border-right: 1px solid #666666;
	line-height: 10px;
	margin-top: 20px;
	padding: 0px 5px 0px;
}

.nx-user-menu>ul>li.login,.nx-user-menu>ul>li.faq {
	border-right: medium none;
}

.nx-user-menu>ul>li.space {
	padding: 5px 0px;
	border-right: medium none;
}

.nx-user-menu>ul>li.faq img {
	float: right;
	margin: -11px 0px 0px 10px;
}

.nx-user-menu>ul>li + li + li + li{
	border-right: none;
}
.nx-user-menu>ul>li + li + li + li img{
	display: block;
    float: right;
    margin-top: -13px;
    display: none;
}
.nx-user-menu>ul>li>a {
	text-decoration: none;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.nx-user-menu>ul>li>a:hover,
.nx-user-menu>ul>li>a.active,
.nx-user-menu>ul>li>a.focus{
	color: #ca3b0f;
}

/***************** MAIN MENU ******************/
.nx-main-menu {
    padding-bottom: 8px;
}

.nx-main-menu>ul {
	list-style: none outside none;
}

.nx-main-menu>ul>li {
	float: left;
	background: url("../images/nx-menu-bg.png") no-repeat scroll left center
		transparent;
	padding: 8px 0px;
	margin-left: 4px;
}

.nx-main-menu>ul>li.item-101 {
	background: none repeat scroll 0% 0% transparent;
}

.nx-main-menu>ul>li.item-101 a{
	margin-left: 0;
}
.nx-main-menu>ul>li>a {
	text-decoration: none;
	color: #CA3B0F;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	margin-left: 13px;
    padding: 8px 25px;
    border: 1px solid transparent;
}
.nx-main-menu>ul>li:hover a,
.nx-main-menu>ul>li.active a,
.nx-main-menu>ul>li.focus a{
	color: #CA3B0F;
	border: 1px solid #D7D3BF;
	background: none repeat scroll 0% 0% #EAE6DB;
	border-radius: 5px 5px 5px 5px;
}

/************* MENU-LEFT ***************/
#nx-left-sidebar{
	width: 268px;
	overflow: hidden;
	float: left;
}

h2.nx-title-left{
	background: url("../images/bg-title.png") no-repeat center bottom;
	color: #CA3B0F;
	font-size: 30px;
	text-align: center;
	padding-bottom: 18px;
	margin: 0;
}
.nx-menu-left{
	overflow: hidden;
}
.nx-menu-left ul{list-style: none; margin: 13px 0}
.nx-menu-left ul li{
	background: url("/assets/bg-menu-left.png") no-repeat center left;
	padding: 6px 18px;
	border-bottom: 1px dashed #d7d7d7;
}
.nx-menu-left ul li a{
	color: #333;
	font-family:arial;
	text-decoration: none;
	font-size: 14px;
}
.nx-menu-left ul li:hover,
.nx-menu-left ul li.active,
.nx-menu-left ul li.focus{
	background:url("../images/bg-menu-left.png") no-repeat center left #EAE6DB;
	border-radius:5px;
}
.nx-menu-left ul li:hover a,
.nx-menu-left ul li.active a,
.nx-menu-left ul li.focus a{color: #CA3B0F; }

/**************** Menu Bottom *****************/
.nx-menu-bottom{
	overflow: hidden;
	width: 1024px;
	border: 1px solid #d9d5c2;
	margin-top: 43px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.nx-menu-bottom h3{
	padding: 10px 0 0 28px;
    width: 196px;
	float: left;
	font-size: 20px;
}

.nx-menu-bottom ul{
	list-style: none;
	list-style: none;
	float: left;
	background: url("../images/bg-menu-bottom.png") no-repeat 0 0 #a5330d;
	height: 48px;
	width: 800px;
}
.nx-menu-bottom ul li{
	float: left;
	background: url("../images/bg-menu-2.png") no-repeat center right;
	padding: 14px 0px;
}

.nx-menu-bottom ul li + li + li +li +li{
	background: none;
}
.nx-menu-bottom ul li >a{
	text-decoration: none;
	color: #fff;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
    padding: 8px 30px;
}

.nx-menu-bottom ul li:hover a,
.nx-menu-bottom ul li.active a,
.nx-menu-bottom ul li.focus a{}

/************** Menu User-Footer ****************/
.nx-menu-footer{
	overflow: hidden;
	margin-bottom: 23px;
}
.user-4{
	overflow: hidden;
	width: 130px;
	float: left;
	margin-left: 10px;
}
.user-5{
	overflow: hidden;
	width: 130px;
	float: left;
	margin-left: 27px;
}
.user-6{
	overflow: hidden;
	width: 145px;
	float: left;
	margin-left: 28px;
}
.user-4 h3,
.user-5 h3,
.user-6 h3{
	font-size: 13px;
	color: #333;
	text-transform: none;
}
.user-4 ul,
.user-5 ul,
.user-6 ul{list-style: none;}
.user-4 ul li,
.user-5 ul li,
.user-6 ul li{
	line-height: 15px;
    padding-top: 5px;
}
.user-4 ul li a,
.user-5 ul li a,
.user-6 ul li a{
	text-decoration: none;
	color: #333;
	font-size: 13px;
}
.user-4 ul li:hover a,
.user-4 ul li.active a,
.user-4 ul li.focus a{color: #ca3b0f;}
.user-5 ul li:hover a,
.user-5 ul li.active a,
.user-5 ul li.focus a{color: #ca3b0f;}
.user-6 ul li:hover a,
.user-6 ul li.active a,
.user-6 ul li.focus a{color: #ca3b0f;}



