#vmCartModule {
	position: relative;
}
/*
#cart_list {
	padding: 0px;
	border: 1px solid #999;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	border-radius: 4px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	display: none;
	padding: 10px;
	position: absolute;
	top: 20px;
	width: 300px;
}

*/
#vmCartModule {
    height: 50px;
    position: relative;
    padding-right: 10px;
}
#cart_list {
    color: #4D4D4D;
    display: none;
    /* overflow-y: scroll; */
    text-align: center;
}
#cart_list .marg-bot {
    margin-bottom: 10px;
}
#cart_list .container .wrapper.marg-bot {
    background: url("../images/container-cart-row.gif") repeat-x scroll left top #F5F5F6;
    overflow: hidden;
}
#cart_list .container .wrapper.marg-bot:first-child {
    border-radius: 3px 3px 0 0;
}
#cart_list .container .wrapper.marg-bot .quantity {
    float: left;
}
#cart_list .container .product_row {
    padding-bottom: 5px;
}
#cart_list .container .product_row .prices {
    color: #CA3B0F;
}
#cart_list .fleft {
    float: left;
    padding-top: 15px;
    position: relative;
    text-align: left;
    width: 120px;
}
#cart_list .fleft a.vm2-remove_from_cart {
    background: url("../images/cart_close.png") repeat scroll left top transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 5px;
    vertical-align: bottom;
    width: 11px;
}
#cart_list .fleft a.vm2-remove_from_cart:hover {
    background-position: left bottom;
}
#vm_cart_products .image {
    background: none repeat scroll 0 0 transparent;
    float: left;
    margin-right: 0;
    padding: 10px;
    width: 90px;
}
#vm_cart_products img {
    width: 90px;
}
.product_row .product_name a {
    color: #000000;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
}
.show_products {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 0 0;
    box-shadow: 0 3px 6px #666;
    display: none;
    padding: 10px 0 0;
    position: absolute;
    left: -5px;
    top: 50px;
    width: 240px;
    z-index: 999;
    min-height: 44px;
}
.show_products .total {
    color: #CA3B0F;
    font: bold 12px/18px "Trebuchet MS",Arial,Helvetica,sans-serif;
    padding: 5px 20px 0;
    text-align: right;
    text-transform: uppercase;
}
.show_products .total span {
    color: #514A48;
    padding-right: 5px;
}
.show_products .show_cart {
    overflow: hidden;
    padding: 0 20px;
}
.show_products .show_cart a {
    background: none repeat scroll 0 0 #343434;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal !important;
    font-weight: bold;
    height: 23px;
    letter-spacing: 0;
    line-height: 22px !important;
    margin: 10px 0 15px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: auto;
}
.show_cart a:hover {
    background: none repeat scroll 0 0 #CA3B0F;
    text-decoration: none;
}
.empty {
    text-align: left;
}
.cart hr, .cart .none {
    display: none;
}
#cart_list .xxx {
    margin-bottom: 5px;
    padding-top: 0;
}
span.product_counter {
	font-size: 95%;
	color: #999;
	padding-left: 0.5em;
}

.cart_num{
	display: block;
	text-align: center;
	padding-top: 15px;
}
.total_products {
    text-align: right;
}
.total_products > strong {
    color: #CA3B0F;
}
.show-cart {
    margin-top: 7px;
}
.show-cart a {
    background: url("../images/check-out.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 24px;
    min-height: 15px;
    text-indent: -999em;
    width: 70px;
}
.product_attributes {
    color: #666666;
    font-size: 9px;
}
.total_products > p {
    margin-top: 5px;
    color: #DC5001;
    font-size: 13px;
    font-weight: bold;
}
.total_products > span{color: #CA3B0F;font-weight: bold;}
.crt-text {
    margin-left: 70px;
}