#nx-content
  .clear-fix
  .nx-component
    #system-message-container
    :javascript
      (function($){
        $(document).ready(function() {
          jQuery('#CMSmart-tab').easytabs();
        });
      })(jQuery);
    #nx-product-details-view
      %h1.nx-product-details-title Cream Chees Biscuits
      .clear
      .nx-product-short-description
        It's hard to choose between our two pound Blueberry, Cinnamon Walnut or Chocolate Chip Coffee Cakes.  We now offer Coffee Cake Combos to make your decision a little easier.
      #nx-detail-top
        .nx-product-details-left-pane
          #gzoom
            #image_main.zoom
              %center
                %a#mt-1411676239780.MagicZoomPlus{:href => "/vmdemo/bakerymart/images/stories/virtuemart/product/gourmet_bakery_assortment_med82.jpg", :rel => "zoom-width:290px; zoom-height:px;zoom-distance:130;zoom-position:right", :style => "position: relative; display: inline-block; text-decoration: none; outline: 0px; width: 200px;", :title => ""}
                  %img#img_main{:alt => "Cream Chees Biscuits", :src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/resized/gourmet_bakery_assortment_med82_200x150.jpg", :style => "opacity: 1;"}/
                  .MagicZoomBigImageCont.MagicBoxShadow{:style => "overflow: hidden; z-index: 100; top: -100000px; position: absolute; width: 290px; height: 260px; left: 330px; opacity: 0;"}
                    .MagicZoomHeader{:style => "position: relative; z-index: 10; left: 0px; top: 0px; padding: 3px; display: none; visibility: hidden;"}
                    %div{:style => "overflow: hidden;"}
                      %img{:src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/gourmet_bakery_assortment_med82.jpg", :style => "padding: 0px; margin: 0px; border: 0px; width: auto; height: auto; position: relative; left: 0px; top: 0px;"}/
                  .MagicZoomPup{:style => "z-index: 10; position: absolute; overflow: hidden; display: none; visibility: hidden; width: 185px; height: 165px; opacity: 0.5; left: 0px; top: 0px;"}
                  .MagicZoomPlusHint{:style => "display: block; overflow: hidden; position: absolute; visibility: visible; z-index: 1; left: 2px; right: auto; top: 2px; bottom: auto; opacity: 0.75; max-width: 196px;"} Zoom
          #additional-images.additional-images
            .jcarousel-skin-tango
              .jcarousel-container.jcarousel-container-vertical{:style => "position: relative; display: block;"}
                .jcarousel-clip.jcarousel-clip-vertical{:style => "position: relative;"}
                  %ul#additional-images-caroul.jcarousel-list.jcarousel-list-vertical{:style => "overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; height: 448px;"}
                    %li.jcarousel-item.jcarousel-item-vertical.jcarousel-item--14.jcarousel-item--14-vertical{:jcarouselindex => "-14", :style => "float: left; list-style: none; height: 54px;"}
                      %img#img_10{:onclick => "replaceImageMain(10);", :src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/resized/cream-cheese-biscuits-duo_200x150.jpg", :subsrc => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/cream-cheese-biscuits-duo.jpg"}/
                    %li.jcarousel-item.jcarousel-item-vertical.jcarousel-item--13.jcarousel-item--13-vertical{:jcarouselindex => "-13", :style => "float: left; list-style: none; height: 54px;"}
                      %img#img_11{:onclick => "replaceImageMain(11);", :src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/resized/banana-brea-1-kg-new6_200x150.jpg", :subsrc => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/banana-brea-1-kg-new6.jpg"}/
                    %li.jcarousel-item.jcarousel-item-vertical.jcarousel-item--12.jcarousel-item--12-vertical{:jcarouselindex => "-12", :style => "float: left; list-style: none; height: 54px;"}
                      %img#img_12{:onclick => "replaceImageMain(12);", :src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/resized/variety-special-tin_200x150.jpg", :subsrc => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/variety-special-tin.jpg"}/
                    %li.jcarousel-item.jcarousel-item-vertical.jcarousel-item-1.jcarousel-item-1-vertical{:jcarouselindex => "1", :style => "float: left; list-style: none; height: 54px;"}
                      %img#img_189{:onclick => "replaceImageMain(189);", :src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/resized/gourmet_bakery_assortment_med82_200x150.jpg", :subsrc => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/gourmet_bakery_assortment_med82.jpg"}/
                    %li.jcarousel-item.jcarousel-item-vertical.jcarousel-item-2.jcarousel-item-2-vertical{:jcarouselindex => "2", :style => "float: left; list-style: none; height: 54px;"}
                      %img#img_10{:onclick => "replaceImageMain(10);", :src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/resized/cream-cheese-biscuits-duo_200x150.jpg", :subsrc => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/cream-cheese-biscuits-duo.jpg"}/
                    %li.jcarousel-item.jcarousel-item-vertical.jcarousel-item-3.jcarousel-item-3-vertical{:jcarouselindex => "3", :style => "float: left; list-style: none; height: 54px;"}
                      %img#img_11{:onclick => "replaceImageMain(11);", :src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/resized/banana-brea-1-kg-new6_200x150.jpg", :subsrc => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/banana-brea-1-kg-new6.jpg"}/
                    %li.jcarousel-item.jcarousel-item-vertical.jcarousel-item-4.jcarousel-item-4-vertical{:jcarouselindex => "4", :style => "float: left; list-style: none; height: 54px;"}
                      %img#img_12{:onclick => "replaceImageMain(12);", :src => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/resized/variety-special-tin_200x150.jpg", :subsrc => "http://truemart.net/vmdemo/bakerymart/images/stories/virtuemart/product/variety-special-tin.jpg"}/
                .jcarousel-prev.jcarousel-prev-vertical{:style => "display: block;"}
                .jcarousel-next.jcarousel-next-vertical{:style => "display: block;"}
          / Flexible Web Design Zoom Effect END
          .clear
          .nx-link-left-pane
            %p.learn-more
              %a{:href => "#"} Learn more about Bakery Mart
            %p.read-reviews
              %a{:href => "#"} Read our customer reviews
        .nx-product-details-right-pane
          .nx-addtocart-area
            %form.product.js-recalculate{:action => "index.php", :method => "post"}
              .addtocart-bar
                %label.quantity_box{:for => "quantity2"} Quantity
                %span.quantity-box
                  %input.quantity-input{:name => "quantity[]", :type => "text", :value => "1"}/
                %span.quantity-controls
                  %input.quantity-controls.quantity-minus{:type => "button"}/
                  %br/
                  %input.quantity-controls.quantity-plus{:type => "button"}/
                %span.addtocart-button
                  %input.addtocart-button{:name => "addtocart", :title => "Add to Cart", :type => "submit", :value => "Add to Cart"}/
                .clear
              %input.pname{:type => "hidden", :value => "Cream Chees Biscuits"}/
              %input{:name => "option", :type => "hidden", :value => "com_virtuemart"}/
              %input{:name => "view", :type => "hidden", :value => "cart"}/
              %noscript <input type="hidden" name="task" value="add" />
              %input{:name => "virtuemart_product_id[]", :type => "hidden", :value => "2"}/
              %input{:name => "virtuemart_manufacturer_id", :type => "hidden", :value => "5"}/
              %input{:name => "virtuemart_category_id[]", :type => "hidden", :value => "1"}/
            .clear
          .nx-product-prices.hasDiscount
            / <div id="nx-product-discount"><p>Sale<br/>Off</p></div>
            #productPrice2.product-price
              .PricevariantModification{:style => "display : none;"}
                Variant price modifier:
                %span.PricevariantModification
              .PricebasePriceWithTax{:style => "display : none;"}
                Base price with tax:
                %span.PricebasePriceWithTax
              .PricediscountedPriceWithoutTax{:style => "display : block;"}
                Price with discount:
                %span.PricediscountedPriceWithoutTax $28.80
              .PricesalesPriceWithDiscount{:style => "display : none;"}
                Salesprice with discount:
                %span.PricesalesPriceWithDiscount
              .PricesalesPrice{:style => "display : block;"}
                 
                %span.PricesalesPrice $28.00
              .PricepriceWithoutTax{:style => "display : block;"}
                 
                %span.PricepriceWithoutTax $28.80
              .PricetaxAmount{:style => "display : none;"}
                Tax amount:
                %span.PricetaxAmount
          / end if of basePrice
          .nx-shipped-fresh
            %a{:href => "#"}
              %img.nx-shipped-fresh-image{:src => "/vmdemo/bakerymart/templates/bakerymart/html/com_virtuemart/assets/images//shipped-fresh.jpg"}/
        .clear-fix
      .clear
      .nx-icons
        %a{:href => "/vmdemo/bakerymart/index.php/online-shop/cream-chees-biscuits-detail?tmpl=component&format=pdf", :title => "PDF"}
          %img{:alt => "PDF", :src => "/vmdemo/bakerymart/media/system/images/pdf_button.png"}/
        %a.modal{:href => "/vmdemo/bakerymart/index.php/online-shop/cream-chees-biscuits-detail?tmpl=component&print=1", :rel => "{handler: 'iframe', size: {x: 700, y: 550}}", :title => "Print"}
          %img{:alt => "Print", :src => "/vmdemo/bakerymart/media/system/images/printButton.png"}/
        %a.modal{:href => "/vmdemo/bakerymart/index.php/products/new-product/cream-chees-biscuits-detail/recommend?tmpl=component", :rel => "{handler: 'iframe', size: {x: 700, y: 550}}", :title => "Email"}
          %img{:alt => "Email", :src => "/vmdemo/bakerymart/media/system/images/emailButton.png"}/
        .clear
      .clear-fix
      #detail-bottom
        .netbase_detail_bottom
          #CMSmart-tab.tab-container{"data-easytabs" => "true", :style => ""}
            %ul.etabs
              %li.tab.active
                %a.active{:href => "#cmsmart_description"} Description
              %li.tab
                %a{:href => "#cmsmart_review"} Review
              %li.tab
                %a{:href => "#cmsmart_size"} Size
              %li.tab
                %a{:href => "#cmsmart_delivery"} Delivery
            #cmsmart_description.active{:style => "display: block;"}
              .product-description
                %p Exclusively ours! Our 2-pound blueberry coffee cake is so moist and sweet. We have just the right mixture of all the highest quality of ingredients. Fresh eggs and creamy sour cream give this cake its unbelievable moistness. Then we add generous handfuls of plump blueberries so every slice is full of them.
                %p A sure hit with everyone for every situation. Perfect for welcoming a new neighbor, thanking an employee, sending to college kids or enjoying yourself with a warm cup of coffee!
                %p The Blueberry has generous handfuls of plump blueberries so every slice is full of them, the Cinnamon Walnut has plenty of walnuts and cinnamon swirled throughout and the Chocolate Chip has an abundance of semi-sweet chocolate chips.
                %p Our coffee cakes are moist, sweet and have just the right mixture of the highest quality ingredients. Make your coffee or tea break a special treat!
                %p  
              .product-fields
                .product-field.product-field-type-V
                  %span.product-fields-title Select a cake size
                  %span.product-field-display
                    %input{:name => "field[0][custom_value]", :type => "text", :value => "Small"}/
                    Price: No additional charge
                  %span.product-field-desc
                .product-field.product-field-type-V
                  %span.product-field-display
                    %input{:name => "field[1][custom_value]", :type => "text", :value => "Large"}/
                    Price: No additional charge
                  %span.product-field-desc
            #cmsmart_review{:style => "display: none; position: static; visibility: visible;"}
              .customer-reviews
                %form#reviewform{:action => "/vmdemo/bakerymart/index.php/products/new-product/cream-chees-biscuits-detail", :method => "post", :name => "reviewForm"}
                  / <h2></h2>
                  .list-reviews
                    %span.step There are yet no reviews for this product.
                    .clear
                  %input{:name => "virtuemart_product_id", :type => "hidden", :value => "2"}/
                  %input{:name => "option", :type => "hidden", :value => "com_virtuemart"}/
                  %input{:name => "virtuemart_category_id", :type => "hidden", :value => "1"}/
                  %input{:name => "virtuemart_rating_review_id", :type => "hidden", :value => "0"}/
                  %input{:name => "task", :type => "hidden", :value => "review"}/
            #cmsmart_size{:style => "display: none; position: static; visibility: visible;"}
              %table{:border => "1", :cellpadding => "0", :cellspacing => "0"}
                %tbody
                  %tr
                    %th
                      %strong Cake Sizes
                    %th
                      %strong Round Sponge
                    %th Square Sponge
                    %th Heart Shaped
                  %tr
                    %th 5 Inch
                    %td 8
                    %td 8
                    %td 6
                  %tr
                    %th 6 Inch
                    %td 11
                    %td 17
                    %td 12
                  %tr
                    %th 7 Inch
                    %td 15
                    %td 24
                    %td 16
                  %tr
                    %th 8 Inch
                    %td 20
                    %td 27
                    %td 24
                  %tr
                    %th 9 Inch
                    %td 27
                    %td 35
                    %td 28
                  %tr
                    %th 10 Inch
                    %td 35
                    %td 45
                    %td 30
                  %tr
                    %th 11 Inch
                    %td 45
                    %td 56
                    %td 35
                  %tr
                    %th 12 Inch
                    %td 50
                    %td 67
                    %td 40
                  %tr
                    %th 14 Inch
                    %td 64
                    %td 98
                    %td 45
            #cmsmart_delivery{:style => "display: none; position: static; visibility: visible;"}
              %p
                %strong Priority Overnight®
                %br/
                Delivery by 10:30 a.m. to
                most areas, and by noon, 4:30 p.m. or 5 p.m. to some rural areas.
              %p
              %p
                %strong Standard Overnight®
                %br/
                Delivery by 3 p.m. to most
                areas, by 4:30 p.m. to more-remote areas.
              %p
              %p
                %strong 2Day® A.M.
                %br/
                Delivery by 10:30 a.m. in 2 business
                days to most areas, by noon to some rural areas. Business days do not
                include weekends or holidays.
              %p
              %p
                %strong 2Day®
                %br/
                Delivery by 4:30 p.m. in 2 business days
                to most areas, by 7 p.m. to residences. Business days do not include
                weekends or holidays.
              %p
              %p
                %strong Home Delivery® for residential deliveries
                %br/
                Day-definite delivery to residential address in 1 to 5 business days
                Tuesday-through-Saturday operation from 9 a.m. to 8 p.m. Business days
                do not include weekends or holidays.
              %p
                %strong Ground® for business deliveries
                %br/
                Day-definite
                delivery to business address in 1 to 5 business days
                Monday-through-Friday operation with deliveries by end of business day.
                Business days do not include weekends or holidays.
        .nx-related-product
          .nx-product-related-products
            %h4 PRODUCT BEST SELLERS
            .product-field.product-field-type-R
              %img.new-product{:src => "/vmdemo/bakerymart/templates/bakerymart/html/com_virtuemart/assets/images//new-product.png"}/
              %span.product-field-display
                %a{:href => "/vmdemo/bakerymart/index.php/products/fasfood/chocolate-chip-cake-detail", :title => "Chocolate Chip Cake"}
                  %img{:alt => "heart_of_darkness_mini_bundts_med7", :src => "/vmdemo/bakerymart/images/stories/virtuemart/product/resized/heart_of_darkness_mini_bundts_med7_200x150.jpg"}/
                  %br/
                  %p.nx-name-product Chocolate Chip Cake
            .clear
            .related-product-price
              %p.related-product-price-new $40
              %p.related-product-price-old $45
            .clear
            .nx-addtocart-area
              %form.product.js-recalculate{:action => "index.php", :method => "post"}
                .addtocart-bar
                  %label.quantity_box{:for => "quantity"}
                  %span.quantity-box
                    %input.quantity-input{:name => "quantity[]", :type => "text", :value => "1"}/
                  %span.quantity-controls
                    %input.quantity-controls.quantity-minus{:type => "button"}/
                    %br/
                    %input.quantity-controls.quantity-plus{:type => "button"}/
                  %span.addtocart-button
                    %input.addtocart-button{:name => "addtocart", :title => "Add to Cart", :type => "submit", :value => "Add to Cart"}/
                  .clear
                %input.pname{:type => "hidden", :value => ""}/
                %input{:name => "option", :type => "hidden", :value => "com_virtuemart"}/
                %input{:name => "view", :type => "hidden", :value => "cart"}/
                %noscript <input type="hidden" name="task" value="add" />
                %input{:name => "virtuemart_product_id[]", :type => "hidden", :value => ""}/
                %input{:name => "virtuemart_manufacturer_id", :type => "hidden", :value => ""}/
                %input{:name => "virtuemart_category_id[]", :type => "hidden", :value => ""}/
              .clear
      #nx-product-reviews
        .nx-reviews
      .banner-bottom-detail
        %img{:alt => "banner", :src => "/vmdemo/bakerymart/templates/bakerymart/html/com_virtuemart/assets/images/banner-bottom-detail.jpg"}/
  / END component